.metabar {
    transition: top 225ms ease-out;
    top: 0px;
}

.u-zIndexMetabar.u-fixed.u-bottom0 {
    transition: bottom 225ms ease-out;
    bottom: 0px;
}

.gcs-top-bar-hidden {
    top: -119px !important;
    box-shadow: none !important;
}

.gcs-bottom-bar-hidden {
    bottom: -74px !important;
    box-shadow: none !important;
}
